@import "tailwindcss";

:root {
  --kanma-red: #830000;
  --kanma-cream: #FFFFFB;
  --background: var(--kanma-cream);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kanma-red: var(--kanma-red);
  --color-kanma-cream: var(--kanma-cream);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-calistoga: var(--font-calistoga);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--kanma-cream); /* Force light mode theme broadly for now based on design */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
